
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0;
}


h1{
    padding: 20px;
    background-color: #222;
    color: white;
    text-align: center;
}

.body-calculator {
   
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
  }
  
  .calculator-display {
    background-color: #222;
    padding: 20px;
    text-align: right;
  }
  
  #display {
    width: 100%;
    height: 40px;
    border: none;
    background: none;
    color: #fff;
    font-size: 1.5em;
    text-align: right;
  }
  
  .calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
  }
  
  .btn {
    font-size: 1.2em;
    padding: 15px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .operator {
    background-color: #ff9f43;
    color: white;
  }
  
  .operator:hover {
    background-color: #ff8c00;
  }
  
  .equal {
    background-color: #28a745;
    color: white;
    grid-column: span 2;
  }
  
  .equal:hover {
    background-color: #218838;
  }


  footer{
    background-color: black;
    padding: 40px;
    color: white;
    margin-top: 50px;
  }

  footer p {
    text-align: center;
  }
  